asgiref==3.6.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.2
certifi==2022.12.7
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.7
django-appconf==1.0.5
django-compressor==4.3.1
django-heroku==0.3.1
django-livereload-server==0.4
django-sass-processor==1.2.2
filelock==3.9.0
libsass==0.22.0
pipenv==2023.2.18
platformdirs==3.1.1
psycopg2==2.9.5
rcssmin==1.1.1
rjsmin==1.2.1
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
tornado==6.2
virtualenv==20.20.0
virtualenv-clone==0.5.7
whitenoise==6.4.0