{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div id='login'>
    <div class='container'>
        <form method = "post">
            <h1 class='label'>
                <span style='color: var(--primary-blue);'>FairTrade </span>
                <span style='color: var(--primary-green);'>Log in </span>
            <h1>

            {% csrf_token %}
        
            {{ form.non_field_errors }}
            <div class="form-group">
        
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {{ form.username.errors }}
        
            </div>
            <div class="form-group">
        
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" style='margin-right: 0.8rem;'>Login</button>
            <a class='form-sublink' href="{% url 'signup' %}">New user? sign up now</a>
            <a class='form-sublink' href="#"><span>&middot;</span></a>
            <a class='form-sublink' href="{% url 'password_reset' %}">Forgot your password?</a>
        </form>
    </div>
</div>

{% endblock %}