{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block header %}
    <div class='header-image'>
        <div class='container'>
            <div style='background: white'>
                <a href='{% url "home" %}'>Home</a>
                <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                <a href='#'>About Us</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class='content-container'>
    <h3 class='label'>
        <span style='background: #f5f5f5; display: inline-block;'>
            About Us
        </span>
    </h3>
    
    <h2>Our Mission</h2>
    <p>FairXChange aims to incentivize and spread awareness about Fairtrade supporting products. TODO: Say stuff about connection</p>
    <br>
    <h2>Logo</h2>
    <p>The logo represents an exchange between a consumer and the producer, with a coffee bean in the center.</p>
    <br>
    <h2>Meet the Team!</h2>
</div>
{% endblock %}
