{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image'>
            <div class='container'>
                <div style='background: white'>
                    <!-- <a href='#'>Home</a> -->
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<h3 class='label' style='margin-left:5rem; margin-top: 2rem;'>
    <span style='background: #f5f5f5; padding: 0 1rem; display: inline-block;'>
        About Us
    </span>
</h3>

<div class='header-image' style='height: 0; min-height: 0; display:inline-block; margin: 0 -1.4rem -3rem; background: none'>
    <div class='container'>
            <div style='background: white'>
                    <a href='{% url "home" %}'>Home</a>
                    <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                    <a href='#'>About Us</a>
            </div>
    </div>
</div>

{% endblock %}
