{% extends 'base.html' %} 

{% block title %}Points{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image'>
            <div class='container'>
                <div style='background: white'>
                    <a href='#'>Home</a>
                    <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                    <a href='#'>Donate/Redeem</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
        <div>
            <h1>Ready to redeem your points?</h1>
            <p>Choose to donate your points to a cause of your choice or redeem them for dollars off your next purchase. </p>
            
            <div id='donate'>
                <button class='large'>View all Initiatives</button>
            </div>
        </div>
{% endblock %}