{% extends 'base.html' %} 

{% block title %}Points{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image' style=''>
            <div class='container'>
                <div style='background: white'>
                    <a href="{% url 'home' %}">Home</a>
                    <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                    <a href='#'>Donate/Redeem</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
        {% load static %}
        <div>
            <h1>Let’s put those points to use!</h1>
            <p class='blurb large' style='margin: 0.4rem 0 1.2rem;'>Hey Justin, here are some community initiatives and fundraisers you can put your Partner Points towards.</p>
    
            <div id='donate'>
                <div class='initiatives' style='margin-top: 1rem'>
                    <a class='initiatives__item' href='{% url "initiative.html" %}'>
                        <img src='http://placehold.it/500x400'/>
                        <div class='initiatives__desc'>
                            <span style='color: var(--secondary);'>Send 100 reusable masks to school children in India</span>

                            <div class='initiatives__progress'>
                                <span>4073</span>
                                <span>10,000</span>
                            </div>
                        </div>
                    </div>
                    <a class='initiatives__item' href='{% url "initiative.html" %}'>
                        <img src='http://placehold.it/500x400'/>
                        <div class='initiatives__desc'>
                            <span style='color: var(--secondary);'>Send 100 reusable masks to school children in India</span>

                            <div class='initiatives__progress'>
                                <span>4073</span>
                                <span>10,000</span>
                            </div>
                        </div>
                    </div>
                    <a class='initiatives__item' href='{% url "initiative.html" %}'>
                        <img src='http://placehold.it/500x400'/>
                        <div class='initiatives__desc'>
                            <span style='color: var(--secondary);'>Send 100 reusable masks to school children in India</span>

                            <div class='initiatives__progress'>
                                <span>4073</span>
                                <span>10,000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style='text-align: center; padding: 1.2rem 0 1rem;'>
                    <button class='large'>View all Initiatives</button>
                </div>

                <h1 style='text-align: center; margin-top: 3rem;'>
                    <div style='display: inline-block; max-width: 40ch;'>
                        Don’t forget, you can also use your Partner Points to get a discount when buying Fairtrade products! Here’s how it works:
                    </div>
                </h1>

                <div style='display: flex; justify-content: stretch; padding: 2rem 0 2rem;'>
                    <div style='flex: 1; margin-right: 2rem; padding: 2rem; border: 1px solid var(--primary-green); border-radius: 12px;'>
                        <img style='width: 100%; max-width: 10rem; margin-bottom: 0.4rem;'src='{% static "images/donate-1.png" %}'/>
                        <div class='blurb large'>
                            <div class='label'>1. Earn</div>
                            Earn Partner Points using your Fairtrade card when buying Fairtrade labeled products 
                        </div>
                    </div>

                    <div style='flex: 1; margin-right: 2rem; padding: 2rem; border: 1px solid var(--primary-green); border-radius: 12px;''>
                        <img style='width: 100%; max-width: 10rem;'src='{% static "images/donate-2.png" %}'/>
                        <div class='blurb large'>
                            <div class='label'>2. Checkout</div>
                            At checkout, notify the cashier that you would like to redeem your Fairtrade Partner Points for a discount
                        </div>
                    </div>

                    <div style='flex: 1; padding: 2rem; border: 1px solid var(--primary-green); border-radius: 12px;''>
                        <img style='width: 100%; max-width: 10rem;'src='{% static "images/donate-3.png" %}'/>
                        <div class='blurb large'>
                            <div class='label'>3. Be happy</div>
                            Continue earning and redeeming points, and feel good about knowing you’re shopping the Fairtrade way
                        </div>
                    </div>
                </div>

                <div style='text-align: center; background: var(--primary-green); color: white; border-radius: 12px; padding: 1.4rem;'>
                    <h3>1 Partner Point = $1 Discount</h3>
                </div>
            </div>
        </div>
{% endblock %}