{% extends 'base.html' %} 
{% load static %}

{% block title %}Home{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image'>
            <div class='container'>
                <div style='background: white'>
                    <!-- <a href='#'>Home</a> -->
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content%} 
    {% if user.is_authenticated %} 
        <h1 style='margin-bottom: 1.5rem;'>Welcome back, {{ user.username }}!</h1>

        <div id='home'>
            <div style='margin-bottom: 2rem;'>
                <div class='blurb'>
                    <span class='label'>You currently have <i class="fa fa-star" aria-hidden="true"></i> 100 points</span>
                    <br/><br/>
                    Thank you for choosing to support Fair Trade!
                    Through choosing Fair Trade products, you are supporting more ethical and sustainable trading practices. 
                    Look for different Fair Trade certifier logos around the SFU campus to ensure you are purchasing from trusted organizations. 
                    Fair Trades' demand based system allows the consumer to take control and voice their opinion in the production of goods. 

                </div>
            </div>

            <div style='flex: 1; min-width: 350px; padding-left: 3rem;'>
                <div class='options'>
                    <a href='points.html'><button>View Partner Points Progress</button></a>
                    <a href='donate.html'><button>Using Your Partner Points</button></a>
                    <a href='map.html'><button>Find FairTrade Near Me</button></a>
                </div>
            </div>
        </div>
        
    {% else %}
    <div style="width: 100%;">
        <div style="width:48%; float:left; margin: 5px;">
            <h1>Welcome to FairXChange!</h1>
            <h3>Get paid, for Fair trade. FairXChange is the rewards card that rewards everyone.</h3>
            {% comment %} Enter carousel of images here {% endcomment %}
            <br>
            <p style="line-height: 1.5;">
                FairXChange is a loyalty points system, tailored to fair trade friendly products. For every dollar you spend on <a href="products.html">Fair trade products</a> at participating retailers,
                you'll earn a point, which you can later redeem for discounts or donate them to farmers.
            </p>
            <br>
            <p style="line-height: 1.5;">   
                Through choosing <a href="products.html">Fair trade products</a>, you are supporting more ethical and sustainable trading practices. 
                Look for different Fair trade certifier logos around the SFU campus to ensure you are purchasing from trusted organizations. 
                Fair trades' demand based system allows the consumer to take control and voice their opinion in the production of goods.
            </p>
        </div>
        <div style="width:45%' float:right; margin: 5px">
            <img src="{% static 'images/coffee_heart.jpg' %}" width="50%" height="auto" style="padding-top: 10px">
        </div>
    </div>
        <div style="width: 100%; text-align: center;">
        <a href='map.html'><button style="width: 50%; height:50px; margin:20px 45px 20px 0 ;">Find a store near you</button></a>
        </div>
    
        <div>
            <p>Log in to view your account <a href="{% url 'login' %}">here</a></p>
            <p>Don't have an account? Sign up <a href="{% url 'signup' %}">here</a></p>
        </div>
        <br>
        <h2>Getting Started</h2>
        <div style="width: 100%; margin-top: 20px;">
            <div style="float: left; width: 33%; text-align: center;">
                <img src="{% static 'images/one.png'%}" width="50px">
                <h3 style="margin:10px">Sign Up</h3>
                <p>Signing up is free! <a href="registration/signup.html">Click here</a> to get started.</p>
            </div>
            <div style="float: left; width: 33%; text-align: center;">
                <img src="{% static 'images/two.png'%}" width="50px">
                <h3 style="margin:10px">Shop Fair trade</h3>
                <p>For every dollar you spend on <a href="products.html">Fair trade products</a>, you'll
                    earn a point. It's that simple!
                </p>
            </div>
            <div style="float: left; width: 33%; text-align: center;">
                <img src="{% static 'images/three.png'%}" width="50px">
                <h3 style="margin:10px">Get Rewarded</h3>
                <p>Exchange your points for discounts off your next purchase, or donate your points to Fairtrade farmers. Either way, its a win-win situation!
                </p>

            </div>
            <br style="clear: left;" />
           </div>
        <h2>Visit Fairtrade Canada</h2>
        <h3>For more information, news, or other ways you can help support fair trade!</h3>
        <iframe src="https://www.fairtrade.ca/" title="Fairtrade Canada" style="width:100%; height:500px">
        </iframe>
    {% endif %} 
{% endblock %}

