{% extends 'base.html' %} 

{% block title %}Map{% endblock %} 

{% block header %}
	<div class='header-image' style='height: 0; min-height: 0; display:inline-block; background: none'>
		<div class='container' style='z-index: 1'>
				<h2 class='label' style='margin: 1rem 0 0;'>
					Find a Participating Fairtrade Store
				</h2>

				<div style='background: white; margin-top: 1rem'>
						<a href='{% url "home" %}'>Home</a>
						<i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
						<a href='#'>Map</a>
				</div>
			</div>
	</div>

	{% load static %}
	<div id="map" style='margin: 2rem 0 -9rem'></div>
	<script src="{% static 'js/map.js' %}"></script>
	<script async
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF2Jt7h_rzqsex6iI_Ecx9FHWzleFQiSE&callback=initMap&libraries=&v=weekly"></script>
	<script type="text/javascript">
			var fairtrade = "{% static 'images/fairtrade.png' %}";
			var coffee = "{% static 'images/coffee.jpg' %}";
			var sfu = "{% static 'images/sfu.png' %}";
			var renaissance = "{% static 'images/renaissance_coffee.jpeg' %}";
			var nesters = "{% static 'images/nesters.jpg' %}";
			var starbucks = "{% static 'images/starbucks.png'%}";
	</script>
{% endblock %}


