{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
	<h3 class='label' style='margin-left:-1rem; margin-top: -2.5rem;'>
		<span style='background: #f5f5f5; padding: 0 1rem; display: inline-block;'>
			Find Participating Fairtrade Stores
		</span>
	</h3>

	<div class='header-image' style='height: 0; min-height: 0; display:inline-block; margin: 0 -1.4rem -3rem; background: none'>
		<div class='container'>
				<div style='background: white'>
						<a href='{% url "home" %}'>Home</a>
						<i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
						<a href='#'>Map</a>
				</div>
		</div>
</div>
{% endblock %}

{% block content %} 
		{% load static %}
		<div id="map"></div>
		<script src="{% static 'js/map.js' %}"></script>
		<script async
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF2Jt7h_rzqsex6iI_Ecx9FHWzleFQiSE&callback=initMap&libraries=&v=weekly"></script>
		<script type="text/javascript">
				var fairtrade = "{% static 'images/fairtrade.png' %}";
				var coffee = "{% static 'images/coffee.jpg' %}";
				var sfu = "{% static 'images/sfu.png' %}";
				var renaissance = "{% static 'images/renaissance_coffee.jpeg' %}";
				var nesters = "{% static 'images/nesters.jpg' %}";
				var starbucks = "{% static 'images/starbucks.png'%}";
		</script>
{% endblock %}

