{% extends 'base.html' %} 

{% block title %}Points{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image' style='background-image: url("/static/images/banner-2.png");'>
            <div class='container'>
                <div style='background: white'>
                    <a href='{% url "home" %}'>Home</a>
                    <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                    <a href='#'>Points</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
        <div class='content-container'>
            <h1 style='text-align: center;'>Great job supporting Fair Trade businesses!</h1>
    
            <div id='points'>
                <div class='points-timeline'>
                    <div class='points-timeline__points'>
                        <i class="fa fa-star" style='font-size: 0.6em; vertical-align: middle; margin-right:0.2em' aria-hidden="true"></i>78
                    </div>

                    <div class='points-timeline__timeline'>
                        <div class='active'>0</div>
                        <div class='active'>25</div>
                        <div class='active'>50</div>
                        <div class='active'>75</div>
                        <div>100</div>
                        <div>150</div>
                    </div>
                </div>

                <div class='points-encouragement'>
                    <i class="fas fa-exclamation-circle"></i>&nbsp;
                    Keep it up! Since January 2021, you’ve already supported 6 Fairtrade partnered organizations!
                </div>
                
                <p style='margin-top: 2rem;'>Redeem your stars once you've hit a milestone! Choose to donate stars or earn dollars off your next purchase. </p>

                <h2 style='margin-top: 2rem;'>Incentives</h2>
                <h3>Earn even more stars!</h3>
                <div>
                    <div class='incentive'>
                        <div><div class='incentive__number'>+10</div></div>
                        <div class='incentive__content'>
                            <h3 class='label'>Refer a friend</h3>
                            Have a friend join our program and gain and extra 10 stars. The more consumers that are aware of our program the greater impact we will have. 
                            <br/><a class='link' href='#'style='margin-top: 0.3rem;'>Click to join</a>
                        </div>
                    </div>
                    
                    <div class='incentive'>
                        <div><div class='incentive__number'>+5</div></div>
                        <div class='incentive__content'>
                            <h3 class='label'>Purchase products over $50</h3>
                            Support our producers in a big way and we will support you in a big way! Find a store near you below.
                            <br/><a class='link' href='map.html'style='margin-top: 0.3rem;'>View participating stores</a>
                        </div>
                    </div>

                    <div class='incentive'>
                        <div><div class='incentive__number'>+2</div></div>
                        <div class='incentive__content'>
                            <h3 class='label'>Purchase products over $10</h3>
                            Earn benefits even faster by making a purchase over $10. Find a store near you below.
                            <br/><a class='link' href='map.html' style='margin-top: 0.3rem;'>View participating stores</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}