{% extends 'base.html' %} 

{% block title %}Points{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image' style=''>
            <div class='container'>
                Points
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
        <div class='content-container'>
            <h1 style='text-align: center;'>Great job supporting Fair Trade businesses!</h1>
    
            <div id='points'>
                <div class='points-timeline'>
                    <div class='points-timeline__points'>
                        <i class="fa fa-star" style='font-size: 0.6em; vertical-align: middle; margin-right:0.2em' aria-hidden="true"></i>69
                    </div>

                    <div class='points-timeline__timeline'>
                        <div>0</div>
                        <div>25</div>
                        <div>50</div>
                        <div>75</div>
                        <div>100</div>
                        <div>150</div>
                    </div>
                </div>
                
                <p style='margin-top: 2rem;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio consequat aliquam mus tempor. Purus non risus tristique pellentesque pulvinar cursus tincidunt. Enim id lorem posuere dolor. Dictum dui.</p>

                <h2 style='margin-top: 2rem;'>Incentives</h2> 
            </div>
        </div>
{% endblock %}