{% extends 'base.html' %} 
{% load static %}
{% block title %}Home{% endblock %} 

{% block nav_top %}
    {% if user.is_authenticated %} 
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

{% block header %}
    {% if user.is_authenticated %} 
        <div class='header-image'>
            <div class='container'>
                <div style='background: white'>
                    <a href='{% url "home" %}'>Home</a>
                    <i class="fas fa-caret-right" style='font-size: 0.8rem; opacity: 0.5;'></i>
                    <a href='#'>Products</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<h3 class='label'>Products</h3>

<h2>Fairtrade Friendly Products</h2>
<br/><br/>
<div class='gallery'>
    <div class='gallery__image'>
        <img src="{%static 'images/coffee.jpg'%}" width=200 style='border-radius: 4px'>
        <div style='display: flex; justify-content: space-between; align-items: center;'>
            <h3 style='font-size: 1.2rem;'>Coffee</h3>
            <span>
                <i class="fas fa-handshake"
                style='display: inline-block; border-radius: 100%; background: var(--primary-green); padding: 0.3em 0.2em;'>
                </i>
                <i class="fas fa-globe"
                style='display: inline-block; border-radius: 100%; background: var(--primary-blue); padding: 0.3em 0.3em;'>
                </i>
                <i class="fas fa-donate"
                style='display: inline-block; border-radius: 100%; background: var(--secondary); padding: 0.3em 0.3em;'>
                </i>
            </span>
        </div>
    </div>
</div>

{% endblock %}
